/* Conic Gradient Animation */
/* Inner Square */
/* Enable hover only on non-touch devices */
/* Mobile */
/* Tablet and Smaller Desktop */

.hero{
  background-image: url('../assets/images/hero.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	position: relative;
  .heroImage{
    width: 80%;
    height: auto;
  }
	.heroHeader{
		position: absolute;
		top: 0;
		left: 0;
		height: 7%;
		width: 100%;
		background-color: #000;
	}
	.heroFooter{
		position: absolute;
		bottom: 0;
		left: 0;
		height: 7%;
		width: 100%;
		background-color: #000;
		display: flex;
		align-items: center;
		justify-content: center;
		ul{
			display: flex;
			list-style: none;
			li{
				margin: 0 7px;
				a{
					img{
						vertical-align: bottom;
					}
				}
			}
		}
	}
}

.title{
	width: auto;
	height: 28px;
	display: block;
	margin: 0 auto;
}

.news{
	padding: 40px 0;
	.swiperContainer{
		padding: 40px 0;
		.slideImage{
			height: auto !important;
			position: relative !important;
		}
	}
}

.works{
	.youtubeDumContainer{
		padding: 40px 0;
		.youtubeDum{
			width: 90%;
			height: auto;
			display: block;
			margin: 0 auto;
		}
	}
}

.discography{
	.disList{
		padding: 40px 0;
	}
}

.about{
	background-image: url('../assets/images/about_bg.png');
}

.footer{
	background-color: #db5a24;
	// .footerInner{
	// 	.footerLogo{

	// 	}
	// }
}

